# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
/dist
/build

# VSCode
.vscode/

# Coverage
coverage/

# Misc
*.tgz
.idea/
*.swp

# Ignore test output
/test-output

# Ignore local data
*.local
